<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <h2 class="modal-header">書單列表</h2>
<!--        unless取得message 除非不是空的否則不顯示-->
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:unless="${#strings.isEmpty(message)}">
<!--            <a href="#" class="btn-close" data-dismiss="">&times;</a>-->
            <strong>恭喜, </strong>
            <span th:text="${message}">信息提交成功</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <p class="text-end"><a href="./input.html" th:href="@{/books/input}" class="btn btn-primary ">新增</a></p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>書名</th>
                <th>作者</th>
                <th>說明</th>
                <th>狀態</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--
                iterStat.
                    count:計數 (1開始)
                    index:索引 (0開始)
                    size: 獲取到的總數
                    even/odd: 奇數/偶數 回傳boolean
                    first/last: 第一/最後一條 回傳boolean
                        -->
            <!--迭代(each) iter(名稱自訂)=獲得foreach中的i -->
            <tr th:each="book,iter:${page.content}" th:class="${iter.even} ? 'bg-gradient' : 'bg-light'">
                <td th:text="${iter.count}">1</td>
<!--                <td ><a href="#" th:text="${book.name}" th:href="@{/books/{id}(id=${book.id})}">書名</a></td>-->
                <td ><a href="#" th:text="${book.name}" th:href="@{'/books/' + ${book.id}}">書名</a></td>
                <td th:text="${book.author}">作者</td>
                <td th:text="${book.description}">說明</td>
                <td th:switch="${book.status}">
                    <span th:case="0">想讀</span>
                    <span th:case="1">在讀</span>
                    <span th:case="2">已讀</span>
                    <span th:case="*">默認狀態</span>
                </td>
                <td>
                    <a href="#" th:href="@{/books/{id}/input(id=${book.id})}">更新</a>
                    <a href="#" th:href="@{/books/{id}/delete(id=${book.id})}">刪除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="false" th:href="@{'/books?page=' + ${page.number-1}}" th:unless="${page.first}">上一頁</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#" th:href="@{/books(page=${page.number} + 1)}" th:unless="${page.last}">下一頁</a>
                </li>
            </ul>
        </nav>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>